@keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .text-element {
    animation: fade 5s linear infinite;
    opacity: 0; /* Start with opacity 0 for initial fade-in */
  }
  