.home {
    text-align: center;
    padding: 20px;
    font-family: 'Samarkan';
}

.home h1 {
    font-size: 2rem;
}

.home p {
    font-size: 1.2rem;
}

@font-face {
    font-family: 'Samarkan';
    src: local('Samarkan'), url(../src/components/samarkan/SAMAN___.TTF) format('truetype');
}

#artback1 {
    background-image: url(./images/Indraprastha-scaled-101.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }